@inherits LayoutComponentBase

<PageTitle>RGWeb</PageTitle>

<div class="page h-100 p-1">
@*    
    <div class="sidebar">
        <NavMenu />
    </div>
*@

    <main>
@*
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
*@

        @Body

    </main>
</div>
