@page "/InfoComponent"

<div class="RGTextColor">
    <p>
        현재 HTML iframe의 보안정책으로 인하여 게시물의 조회 외에 다른 조작(해당 사이트 로그인 등)은 안될 가능성이 높습니다.
    </p>
    <p>
        본 사이트는 갤러리당 유저 한 명(글 리젠율에 따라 적어짐)분의 커넥션이 3초내외 주기로 게시글 목록 페이지를 크롤링하여 정보(본문제외 제목, 작성자, URL 등)를 가져옵니다.
    </p>
    <p>
        가져온 정보를 본 사이트에서 목록으로 만들어 뿌려주고 클릭 시 URL을 연결해주는 중계역할만 합니다.
    </p>
    <p>
        때문에 각 커뮤니티 사이트의 서버에 트래픽 부담을 거의 주지 않으며, 가져온 정보는 데이터베이스에 저장하지 않습니다.
    </p>
    <p>
        (본 사이트의 이용자가 많아져도 크롤링에 따른 서버 부담은 증가하지 않습니다.)
    </p>
    <p>
        현재 어떠한 개인정보도 저장하고 있지 않습니다.
    </p>
    <p>
        공부 겸사 해서 개인이 만든 사이트입니다. 또한 개인 컴퓨터에 서버를 올렸기 때문에 접속한 유저가 많아지면 불안정해질 수 있습니다. ㅠㅠ
    </p>
</div>
