@using Microsoft.AspNetCore.Components.Web
@namespace RGWeb.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=No" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="RGWeb.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <!-- css 공통 문서 -->
    <link href="css/BaseStyle.css" rel="stylesheet" />
    <link href="css/RGStyle.css" rel="stylesheet" />
    <!-- 아이콘셋 -->
    <script src="https://kit.fontawesome.com/3adc630354.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="~/site_icon.png" />
    <!-- 싱크퓨전 -->
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" /> <!-- 관련링크 : https://blazor.syncfusion.com/documentation/appearance/themes -->
    <!-- dc 링크 -->
    @*<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/contents.css">*@
    <link rel="stylesheet" href="https://nstatic.dcinside.com/dc/m/css/contents.css?v=220117">
    <link rel="stylesheet" href="https://nstatic.dcinside.com/dc/m/css/common.css?v=210428">
    <link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/m/img/sp/sp_lst.png?0521">
    @*<link id="css-darkmode" rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/dark.css?v=21">*@
</head>
<body style="background-repeat: no-repeat; background-position-y:450px; background-size:cover;" class="RGBodyBackgroundColor">
    <!-- 자바스크립트 로직 -->
    <script src="~/javascript/COMScript.js"></script>
    <script src="~/javascript/main.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
