@page "/ContentBlankPage"

<div class="d-flex h-100 w-100">
    <div class="mx-auto my-auto text-center h3 RGTextColor">
            <div class="d-flex justify-content-center">
                <div class="">ga</div>
                <div class="" style="color:#6799FF">l</div>
                <div class="" style="color:#4374D9">l</div>
                <div class="" style="color:#003399">l</div>
                <div class="">ive</div>
            </div>
        </div>
</div>