@page "/"
@page "/rg"

<div class="w-100 h-100 d-flex">
    <div class="container my-auto">

        <div class="row m-0">
            <div class="col p-0 rounded">
            
            </div>
            <div class="col p-0 rounded text-end">
                alpha ver.
            </div>
        </div>

        <h1 class="m-0 text-center">RGWebViewer</h1>

        <div class="row m-0 d-flex">
            <div class="col m-2 p-2">
                <a href="rg/userpage" style="text-decoration-line: none;">
                    <SfButton CssClass="e-miracle e-block" style="height: 100px;">
                        PC / Tablet
                    </SfButton>
                </a>
            </div>
            <div class="col m-2 p-2">
                <a href="rg/userphonepage" style="text-decoration-line: none;">
                    <SfButton CssClass="e-miracle e-block" style="height: 100px;">
                        Phone
                    </SfButton>
                </a>
            </div>
        </div>

        <div class="d-block p-3">
            <div class="p-1 rounded border" style="height: 200px;">
                <ul class="">
                    <li>
                        [v0.2] 서버구축
                    </li>
                    <li>
                        [v0.1] 테스트
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


