@page "/"
@page "/rg"
@*〈공통〉*@
@inject IJSRuntime JS               // 자바스크립트 관련
@inject ProtectedLocalStorage LS    // 로컬스토리지 관련
@inject NavigationManager NM        // 페이지 이동 관련

<div class="w-100 h-100 d-flex">
    <div class="container my-auto">

        <div class="row m-0">
            <div class="col p-0 rounded">
            
            </div>
            <div class="col p-0 rounded text-end RGTextColor">
                alpha ver.
            </div>
        </div>

        <h1 class="m-0 mb-4 text-center RGTextColor">RGWebViewer</h1>

        <div class="row m-0 d-flex">
            <div class="col p-1">
                <a href="rg/UserLitePage" style="text-decoration-line: none;">
                    <SfButton CssClass="e-primary e-block d-flex align-items-center" style="height: 140px;">
                        <i class="fa-solid fa-desktop"></i>&nbsp;PC&nbsp;/&nbsp;<i class="fa-solid fa-tablet"></i>&nbsp;Tablet&nbsp;<span class="badge bg-secondary">Lite</span>
                    </SfButton>
                </a>
            </div>
            <div class="col p-1">
                <a href="rg/UserLitePhonePage" style="text-decoration-line: none;">
                    <SfButton CssClass="e-primary e-block d-flex align-items-center" style="height: 140px;">
                        <i class="fa-solid fa-mobile-screen-button"></i>&nbsp;Phone&nbsp;<span class="badge bg-secondary">Lite</span>
                    </SfButton>
                </a>
            </div>
        </div>

        <div class="row m-0 d-flex">
            <div class="col p-1">
                <a href="rg/UserProPage" style="text-decoration-line: none;">
                    <SfButton CssClass="e-miracle e-outline e-block d-flex align-items-center" style="height: 60px;">
                        <i class="fa-solid fa-desktop"></i>&nbsp;PC&nbsp;/&nbsp;<i class="fa-solid fa-tablet"></i>&nbsp;Tablet&nbsp;<span class="badge bg-warning">Pro</span>
                    </SfButton>
                </a>
            </div>
            <div class="col p-1">
                <a href="rg/UserProPhonePage" style="text-decoration-line: none;">
                    <SfButton CssClass="e-miracle e-outline e-block d-flex align-items-center" style="height: 60px;">
                        <i class="fa-solid fa-mobile-screen-button"></i>&nbsp;Phone&nbsp;<span class="badge bg-warning">Pro</span>
                    </SfButton>
                </a>
            </div>
        </div>

        <div class="row m-0 d-flex">
            <div class="col p-1">
                <SfButton CssClass="e-miracle e-outline e-block d-flex align-items-center" style="height: 60px;" OnClick="@(e => {JS.InvokeVoidAsync("JS_goToAir");})">
                    <i class="fa-solid fa-tower-broadcast"></i>&nbsp;Broadcasting&nbsp;<span class="badge bg-warning">Pro</span>
                </SfButton>
            </div>
        </div>

        <div class="d-block p-1 RGTextColor">
            <div class="p-1 rounded border RGBorderColor" style="height: 200px;">
                <ul class="">
                    <li>
                        <div class="d-flex justify-content-between">
                            <div>
                                [안내] 문의 등은 방명록에 해주세요.
                            </div>
                            <div>

                            </div>
                            <div>
                                <a class="d-flex align-items-center" href="https://gallog.dcinside.com/hamahama4444" style="text-decoration-line: none;" target="_blank">
                                    ★★★★★&nbsp;<span class="sp-nick gonick"></span>
                                </a>
                            </div>
                        </div>
                        <a href="InfoComponent" style="text-decoration-line: none;">
                            <SfButton CssClass="e-secondary e-outline e-small">이 사이트에 대하여</SfButton>
                        </a>
                    </li>
                    <li>
                        ~ 개발중
                    </li>
                    <li>
                        [220212] 서버구축
                    </li>
                    <li>
                        [220211] 초기세팅
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="fixed-bottom text-center RGTextColor">
    <div class="d-block align-items-center mx-auto">
        <span title="현재 접속자 수" class="px-1"><i class="fa-solid fa-user-group"></i>&nbsp;@(ServerInfo.UserConnectCount_LitePC + ServerInfo.UserConnectCount_LiteMobile + ServerInfo.UserConnectCount_ProPC + ServerInfo.UserConnectCount_ProMobile + ServerInfo.UserConnectCount_ProAir)</span>
        @if (latency is null) // 레이턴시 체크 (250ms 이내 권장)
        {
            <span>Calculating...</span>
        }
        else
        {
            <span title="RGWeb과의 핑" class="px-1">
                <i class="fa-solid fa-server"></i>&nbsp;@(latency.Value.TotalMilliseconds.ToString("F2"))ms</span>
        }
        <span title="현재 새로고침되는 주기(밀리초) 각 사이트의 상태에 따라 바뀝니다." class="px-1">
            <i class="fa-solid fa-rotate"></i>&nbsp;@(ServerInfo.ServerRefreshTime)ms</span>
    </div>
</div>

@code {
    // 레이턴시 체크
    private DateTime startTime;
    private TimeSpan? latency;

    private async Task LatencyCheck()
    {
        startTime = DateTime.UtcNow;
        var _ = await JS.InvokeAsync<string>("toString");
        latency = DateTime.UtcNow - startTime;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) // 첫번째 렌더때 실행
        {
            // 레이턴시 체크
            await LatencyCheck();

            StateHasChanged();
        }
        else
        {
            
        }
    }
}