


/* 모바일인 경우 : 스크롤 제거 */
@media all and (max-width:1024px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}
/* PC의 경우 : 스크롤 있음 (수평스크롤은 어차피 화면이 좌우로 길기때문에 제거했음) */
@media all and (min-width:1025px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 0px;
    }

    .spaeon_horizontalScrollBar ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
}


/* 스크롤바 바 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #1697bf, #62b7ac);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 20px;
}
/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    background: transparent !important;
}
/* 스크롤바 화살표 버튼 */
::-webkit-scrollbar-button {
    display: none;
}









p {
    margin:0px;
    padding:0px;
}

.RGAirTitleFont {
    font-size: 0.8rem;
    font-weight: bold;
}


.RGTextColor {
    color: #000000;
}

a:hover {
    color: #000000;
}

.RGBodyBackgroundColor {
    background-color: #ffffff;
}

.ListContentTopFont {
    font-size: 0.85rem;
    color: #000000;
}

.ListContentBottomFont {
    font-size: 0.6rem;
    color: #999;
}

.ListContentGoodCountFont {
    color: #0080FF;
}

/* 클릭했던 게시물 타이틀 색상변경 */
.ListContentvisitedTitle {
    color: mediumpurple;
}
/* 클라이언트에서 직접 클릭한 게시물 임시 색상변경 */
.ListContentvisitedTitleTemp {
    color: mediumpurple;
}

/* 다크 모드에 적용할 스타일 정의 */
@media (prefers-color-scheme: dark) {
    .RGTextColor {
        color: #ffffff;
    }

    a:hover {
        color: #ffffff;
    }

    .IframeBackgroundColor {
        background-color: #bbbbbb;
    }

    .RGBodyBackgroundColor {
        background-color: #202124;
    }

    .ListContentTopFont {
        font-size: 0.85rem;
        color: #ffffff;
    }

    .ListContentBottomFont {
        font-size: 0.6rem;
        color: #999;
    }

    /* 클릭했던 게시물 타이틀 색상변경 */
    .ListContentvisitedTitle {
        color: rebeccapurple;
    }
    /* 클라이언트에서 직접 클릭한 게시물 임시 색상변경 */
    .ListContentvisitedTitleTemp {
        color: rebeccapurple;
    }

    /* 테두리 색 */
    .RGBorderColor {
        border-color: #424348 !important;
    }
    /* 분할 조절기 바 */
    .e-splitter .e-split-bar {
        background-color: #424348 !important;
    }

    /* 콤보박스 */
    .e-splitter .e-split-bar .e-resize-handler {
        background-color: #303030 !important;
    }
    .e-input-group, .e-input-group.e-control-wrapper, .e-float-input, .e-float-input.e-input-group, .e-float-input.e-control-wrapper, .e-float-input.e-input-group.e-control-wrapper {
        background-color: #202124 !important;
        color: #ffffff !important;
        border-color: #424348 !important;
    }
    .e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
        border-color: #424348 !important;
    }
}







/* dc 아이콘 */
.sp-lst-img{background-position:0 0!important}
.sp-lst-txt{background-position:0 -19px!important}
.sp-lst-play{background-position:0 -38px!important}
.sp-lst-recoimg{background-position:0 -57px!important}
.sp-lst-recotop{background-position:0 -76px!important}
.sp-lst-recotxt{background-position:0 -95px!important}
.sp-lst-recoplay{background-position: 0 -206px!important}
.sp-lst-hit{background-position: 0 -223px!important} 
.sp-lst-best{background-position: 0 -170px!important} 
.best-on .sp-lst-best{background-position: 0 -187.5px;height: 17px;transform: translateY(-1px)} 
.sp-penalty-alert{background-position:0 0;width:93px;height:82px}
.sp-penalty-x{background-position:0 -84px;width:93px;height:93px}
.sp-setting{position:relative;display:inline-block;width:20px;height:20px;font-size:0;line-height: 0;vertical-align:top}
.sp-setting::after{content:"";display: inline-block;background-position:-157px -29px;width:20px;height:20px;
position:absolute;transform: translate(-50%,-50%);left:50%;top:50%}
.sp-ctmandu{width:32px;height:28px;background-position:-92px -101px;vertical-align:middle}