.RGBodyBackgroundColor {
    background-color: #ffffff;
}

.ListContentTopFont {
    font-size: 0.85rem;
    color: #000000;
}

.ListContentBottomFont {
    font-size: 0.6rem;
    color: #999;
}

.ListContentGoodCountFont {
    color: #0080FF;
}

/* 다크 모드에 적용할 스타일 정의 */
@media (prefers-color-scheme: dark) {
    .RGBodyBackgroundColor {
        background-color: #202124;
    }

    .ListContentTopFont {
        font-size: 0.85rem;
        color: #ffffff;
    }

    .ListContentBottomFont {
        font-size: 0.6rem;
        color: #999;
    }
}